[user]
  name = Hootan Shadmehr
  email = hooti@meta.com
[http "https://git.c2p.facebook.net"]
  sslCert = /var/facebook/credentials/hooti/x509/hooti.pem
[push]
  autoSetupRemote = true

[includeIf "gitdir:/Users/hooti/github/"]
  [user]
    name = Hootan Shadmehr
    email = hootan@umich.edu
  [init]
    defaultBranch = main
  [push]
    autoSetupRemote = true
