format = """
$directory\
$fill\
$cmd_duration\
$time\
$line_break\
$status\
$character\
"""

[username]
show_always = true
format = '[$user]($style)'
style_user = 'italic strikethrough bright-green'

[hostname]
ssh_only = false
format = '[@$hostname:]($style)'
style = 'italic dimmed bright-green'

[directory]
format = '[$path]($style)[$read_only]($read_only_style)'
truncation_length = 0
truncate_to_repo = false
style = 'bold bright-cyan'

[fill]
symbol = '.'
style = 'dimmed white'

[time]
disabled = false
format = '[$time]($style) '
time_format = '[%T][%b %d]'
style = 'dimmed white'

[status]
disabled = false
format = '[\[$status\]]($style)'
success_symbol = ' '
style = 'bright-purple'

[cmd_duration]
format = '[$duration]($style)'
min_time = 0
show_milliseconds = true
style = 'bright-yellow'

